<!DOCTYPE html>
<html>

  {% include /gdb_21/head.html %}


    <body id="page-top" class="index">

    {% include gdb_21/header-home.html %}

    <!-- Header -->
    <header>
        <div class="container">
            <div class="intro-text">
                <div class="intro-heading">Great Debate</div>
                <div class="intro-lead-in">Improving Research Software in the Geosciences</div>
                <div class="intro-lead-in"><i class="fa fa-map-marker" aria-hidden="true"></i>&nbsp;vEGU21</div>
                <div class="intro-lead-in"><i class="fa fa-calendar" aria-hidden="true"></i>&nbsp;TBA</div>
                <a href="#intro" class="page-scroll btn btn-xl">Tell Me More!</a>
            </div>
        </div>
    </header>

    {% include gdb_21/intro.html %}
    {% include gdb_21/speakers.html %}
    {% include gdb_21/about.html %}
    {% include gdb_21/contact.html %}
    {% include gdb_21/footer.html %}
    {% include gdb_21/speakers_info.html %}
    {% include gdb_21/js.html %}

    </body>
</html>