<!DOCTYPE html>
<html>

  {% include /gdb_21/head.html %}


    <body id="page-top" class="index">

    {% include gdb_21/header-home.html %}

    <!-- Header -->
    <header>
        <div class="container">
            <div class="intro-text">
                <div class="intro-heading">Great Debate</div>
                <div class="intro-lead-in">Improving Research Software in the Geosciences</div>
                <div class="intro-lead-in"><a href="https://www.egu21.eu/" title="vEGU 2021 Website"><i class="fa fa-map-marker" aria-hidden="true"></i><img style="display: inline; height: 50px; margin-left: 20px; filter: drop-shadow(2px 2px 1px #000);" src="{{ '/css/img/logos/vegu2021-yellow.svg' | prepend: site.baseurl }}" alt="EGU General Assembly 2021 Logo"></a></div>
                <div class="intro-lead-in"><i class="fa fa-calendar" aria-hidden="true"></i>&nbsp;TBA</div>
                <!--<div class="intro-lead-in"><img style="display: inline; height: 50px; margin-left: 20px; filter: drop-shadow(2px 2px 1px #000);" src="{{ '/css/img/hands-helping.svg' | prepend: site.baseurl }}" alt="handshake icon">&nbsp;Partners: <img style="display: inline; height: 50px; margin-left: 20px; filter: drop-shadow(2px 2px 1px #000);" src="{{ '/css/img/logos/essi_compact.svg' | prepend: site.baseurl }}" alt="ESSI Dividion Logo"></a></div>-->
                <a href="https://meetingorganizer.copernicus.org/EGU21/session/39993" class="page-scroll btn btn-xl">See vEGU21 programme</a> <a href="#intro" class="page-scroll btn btn-xl">Tell me more</a>
            </div>
        </div>
    </header>

    {% include gdb_21/intro.html %}
    {% include gdb_21/speakers.html %}
    {% include gdb_21/about.html %}
    {% include gdb_21/contact.html %}
    {% include gdb_21/footer.html %}
    {% include gdb_21/speakers_info.html %}
    {% include gdb_21/js.html %}

    </body>
</html>